<a href="https://colab.research.google.com/github/basangoudapatil/Task-5/blob/main/Assignment_3(DW_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# importing required packages for reading and working on the dataset
import pandas as pd
import numpy as np

**Read Both the Datasets**

**1. A user table ( "takehome_users" ) with data on 12,000 users who signed up for the
product in the last two years. This table includes:**

● name: the user's name

● object_id: the user's id

● email: email address

● creation_source: how their account was created. This takes on one
of 5 values:

  ○ PERSONAL_PROJECTS: invited to join another user's
personal workspace

  ○ GUEST_INVITE: invited to an organization as a guest
(limited permissions)

  ○ ORG_INVITE: invited to an organization (as a full member)

  ○ SIGNUP: signed up via the website

  ○ SIGNUP_GOOGLE_AUTH: signed up using Google
Authentication (using a Google email account for their login
id)

● creation_time: when they created their account

● last_session_creation_time: unix timestamp of last login

● opted_in_to_mailing_list: whether they have opted into receiving
marketing emails

● enabled_for_marketing_drip: whether they are on the regular
marketing email drip

● org_id: the organization (group of users) they belong to

● invited_by_user_id: which user invited them to join (if applicable).

In [3]:
# Dataset on takehome Users

takehome = pd.read_csv('/content/takehome_users.csv', encoding = 'ISO-8859-1')
takehome.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
# Checking for Null-Values
takehome.isnull().sum() # There are null values in only two columns, based on its significance we will decide iether to drop or to keep it

object_id                        0
creation_time                    0
name                             0
email                            0
creation_source                  0
last_session_creation_time    3177
opted_in_to_mailing_list         0
enabled_for_marketing_drip       0
org_id                           0
invited_by_user_id            5583
dtype: int64

In [5]:
takehome.dtypes 
# Creation tie and last session creation time are in float, but data entered is in datetime foramt, convert it accordingly

object_id                       int64
creation_time                  object
name                           object
email                          object
creation_source                object
last_session_creation_time    float64
opted_in_to_mailing_list        int64
enabled_for_marketing_drip      int64
org_id                          int64
invited_by_user_id            float64
dtype: object

In [6]:
import datetime as dt
from datetime import date

takehome.creation_time = pd.to_datetime(takehome.creation_time)
takehome.last_session_creation_time = pd.to_datetime(takehome.last_session_creation_time)

# Since name and email are nit usefull, drop them

takehome.drop(['name','email'], axis=1, inplace = True)

In [7]:
display(takehome.head())

,object_id,creation_time,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0
1,2,2013-11-15 03:45:04,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0
2,3,2013-03-19 23:14:52,ORG_INVITE,1970-01-01 00:00:01.363734892,0,0,94,1525.0
3,4,2013-05-21 08:09:28,GUEST_INVITE,1970-01-01 00:00:01.369210168,0,0,1,5151.0
4,5,2013-01-17 10:14:20,GUEST_INVITE,1970-01-01 00:00:01.358849660,0,0,193,5240.0

**2. A usage summary table ( "takehome_user_engagement" ) that has a row for each day
that a user logged into the product.**

In [8]:
# The first Dataset on user_engagement
user_engagement = pd.read_csv('/content/takehome_user_engagement.csv')
user_engagement.head(5)

            time_stamp  user_id  visited
0  2014-04-22 03:53:30      1.0      1.0
1  2013-11-15 03:45:04      2.0      1.0
2  2013-11-29 03:45:04      2.0      1.0
3  2013-12-09 03:45:04      2.0      1.0
4  2013-12-25 03:45:04      2.0      1.0

In [9]:
# Checking for Null-Values
user_engagement.isnull().sum()

time_stamp    0
user_id       1
visited       1
dtype: int64

In [10]:
user_engagement.dtypes

time_stamp     object
user_id       float64
visited       float64
dtype: object

In [11]:
user_engagement.time_stamp = pd.to_datetime(user_engagement.time_stamp)

In [13]:
user_engagement.dtypes

time_stamp    datetime64[ns]
user_id              float64
visited              float64
dtype: object

In [15]:
print('The min value in Takehome:', min(takehome.creation_time))
print('The max value in Takehome:', max(takehome.creation_time))

print('The min value in Takehome session_creation_time:', min(takehome.last_session_creation_time))
print('The max value in Takehome session_creation_time:', max(takehome.last_session_creation_time))

print('The min value in user_engagement:', min(user_engagement.time_stamp))
print('The max value in user_engagament:', max(user_engagement.time_stamp))

The min value in Takehome: 2012-05-31 00:43:27
The max value in Takehome: 2014-05-30 23:59:19
The min value in Takehome session_creation_time: 1970-01-01 00:00:01.338452406
The max value in Takehome session_creation_time: 1970-01-01 00:00:01.402066730
The min value in user_engagement: 2012-05-31 15:47:36
The max value in user_engagament: 2014-06-06 14:58:50

In [16]:
df = user_engagement.copy()

In [18]:
df['date'] = pd.to_datetime(df.time_stamp.dt.date)

In [19]:
def count(df_group, frequency):
  return df_group.rolling(frequency, on='date')['user_id'].count()

In [20]:
df['visits'] = df.groupby('user_id', as_index=False, group_keys=False).apply(count, '7D')

In [22]:
display(df.head())

           time_stamp  user_id  visited       date  visits
0 2014-04-22 03:53:30      1.0      1.0 2014-04-22     1.0
1 2013-11-15 03:45:04      2.0      1.0 2013-11-15     1.0
2 2013-11-29 03:45:04      2.0      1.0 2013-11-29     1.0
3 2013-12-09 03:45:04      2.0      1.0 2013-12-09     1.0
4 2013-12-25 03:45:04      2.0      1.0 2013-12-25     1.0

In [23]:
df[df.visits>2]

               time_stamp  user_id  visited       date  visits
9     2014-02-09 03:45:04      2.0      1.0 2014-02-09     3.0
10    2014-02-13 03:45:04      2.0      1.0 2014-02-13     3.0
27    2013-02-19 22:08:03     10.0      1.0 2013-02-19     3.0
30    2013-03-02 22:08:03     10.0      1.0 2013-03-02     3.0
31    2013-03-05 22:08:03     10.0      1.0 2013-03-05     3.0
...                   ...      ...      ...        ...     ...
75566 2013-04-29 22:07:10   4263.0      1.0 2013-04-29     7.0
75567 2013-04-30 22:07:10   4263.0      1.0 2013-04-30     7.0
75568 2013-05-01 22:07:10   4263.0      1.0 2013-05-01     7.0
75569 2013-05-02 22:07:10   4263.0      1.0 2013-05-02     7.0
75570 2013-05-03 22:07:10   4263.0      1.0 2013-05-03     7.0

[58500 rows x 5 columns]

**3. Defining an "adopted user" as a user who has logged into the product on three separate
days in at least one sevenday
period , identify which factors predict future user
adoption .**

In [24]:
adopted_user = df.groupby('user_id')['visits'].max().reset_index()

In [26]:
adopted_user['adopted_user'] = adopted_user['visits'].apply(lambda x: 1 if x>2 else 0)
adopted_user.head()

   user_id  visits  adopted_user
0      1.0     1.0             0
1      2.0     3.0             1
2      3.0     1.0             0
3      4.0     1.0             0
4      5.0     1.0             0

In [27]:
adopted_user.drop('visits', axis=1, inplace =True)
adopted_user.rename(columns = {'user_id':'object_id'}, inplace = True)

In [28]:
adopted_user.set_index("object_id", inplace = True)

In [31]:
# Merge adopted users and df to one dataframe
df_takehome = takehome.join(adopted_user, on = 'object_id', how = 'left')

In [32]:
df_takehome.head()

,object_id,creation_time,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
0,1,2014-04-22 03:53:30,GUEST_INVITE,1970-01-01 00:00:01.398138810,1,0,11,10803.0,0.0
1,2,2013-11-15 03:45:04,ORG_INVITE,1970-01-01 00:00:01.396237504,0,0,1,316.0,1.0
2,3,2013-03-19 23:14:52,ORG_INVITE,1970-01-01 00:00:01.363734892,0,0,94,1525.0,0.0
3,4,2013-05-21 08:09:28,GUEST_INVITE,1970-01-01 00:00:01.369210168,0,0,1,5151.0,0.0
4,5,2013-01-17 10:14:20,GUEST_INVITE,1970-01-01 00:00:01.358849660,0,0,193,5240.0,0.0

In [33]:
df_takehome.dtypes

object_id                              int64
creation_time                 datetime64[ns]
creation_source                       object
last_session_creation_time    datetime64[ns]
opted_in_to_mailing_list               int64
enabled_for_marketing_drip             int64
org_id                                 int64
invited_by_user_id                   float64
adopted_user                         float64
dtype: object

In [35]:
df_takehome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   creation_source             12000 non-null  object
 3   last_session_creation_time  8823 non-null   datetime64[ns]
 4   opted_in_to_mailing_list    12000 non-null  int64
 5   enabled_for_marketing_drip  12000 non-null  int64
 6   org_id                      12000 non-null  int64
 7   invited_by_user_id          6417 non-null   float64
 8   adopted_user                3134 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(4), object(1)
memory usage: 843.9+ KB

In [36]:
# The adopted user and last session creation time contain null values,, which specify
# missing value or the user hasn't logged in
# I consider it as users hasn't logged in

df_takehome['adopted_user'].fillna(0, inplace = True)
df_takehome['last_session_creation_time'].fillna(0, inplace = True)

In [37]:
df_takehome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   creation_source             12000 non-null  object
 3   last_session_creation_time  12000 non-null  object
 4   opted_in_to_mailing_list    12000 non-null  int64
 5   enabled_for_marketing_drip  12000 non-null  int64
 6   org_id                      12000 non-null  int64
 7   invited_by_user_id          6417 non-null   float64
 8   adopted_user                12000 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 843.9+ KB

In [38]:
df_takehome['invited_by_user_id'].fillna(0, inplace = True)

In [39]:
df_takehome['days_creation'] = (max(user_engagement.time_stamp) - df_takehome.creation_time).dt.days

In [43]:
df_takehome.creation_source.value_counts()

ORG_INVITE            4254
GUEST_INVITE          2163
PERSONAL_PROJECTS     2111
SIGNUP                2087
SIGNUP_GOOGLE_AUTH    1385
Name: creation_source, dtype: int64

In [44]:
df_takehome = pd.get_dummies(df_takehome, columns=['creation_source'])

In [51]:
df_takehome.drop(['object_id'], axis=1)

,creation_time,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user,days_creation,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
0,2014-04-22 03:53:30,1970-01-01 00:00:01.398138810,1,0,11,10803.0,0.0,45,1,0,0,0,0
1,2013-11-15 03:45:04,1970-01-01 00:00:01.396237504,0,0,1,316.0,1.0,203,0,1,0,0,0
2,2013-03-19 23:14:52,1970-01-01 00:00:01.363734892,0,0,94,1525.0,0.0,443,0,1,0,0,0
3,2013-05-21 08:09:28,1970-01-01 00:00:01.369210168,0,0,1,5151.0,0.0,381,1,0,0,0,0
4,2013-01-17 10:14:20,1970-01-01 00:00:01.358849660,0,0,193,5240.0,0.0,505,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,2013-09-06 06:14:15,1970-01-01 00:00:01.378448055,0,0,89,8263.0,0.0,273,0,1,0,0,0
11996,2013-01-10 18:28:37,1970-01-01 00:00:01.358274517,0,0,200,0.0,0.0,511,0,0,0,0,1
11997,2014-04-27 12:45:16,1970-01-01 00:00:01.398602716,1,1,83,8074.0,0.0,40,1,0,0,0,0
11998,2012-05-31 11:55:59,1970-01-01 00:00:01.338638159,0,0,6,0.0,0.0,736,0,0,1,0,0
11999,2014-01-26 08:57:12,1970-01-01 00:00:01.390726632,0,1,0,0.0,0.0,131,0,0,0,1,0

In [56]:
df_takehome.adopted_user.shape

(12000,)

Preparing the data for Training the Model

In [57]:
from sklearn.model_selection import train_test_split

X = df_takehome.loc[:,['adopted_user']].values
y = df_takehome['adopted_user']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [58]:
X_train.shape, y_train.shape

((8400, 1), (8400,))

Decision Tree Fitting

In [59]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)

y_pred = dt.predict(X_test)

In [60]:
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [61]:
# Evaluating the Model

from sklearn.metrics import roc_auc_score, accuracy_score

y_pred = dt.predict(X_test)

acc = roc_auc_score(y_test, y_pred)

Acc = accuracy_score(y_test, y_pred)

In [63]:
display(acc)
display(Acc)

1.0

1.0

In [64]:
# the model above is giving me exact values, therefore it is either overfitting over underfitting
# or my dataset is either flawed
# Checking for overfitting

from sklearn.model_selection import cross_val_score

for depth in [1,2,3,4,5,6,7,8,9,10]:
  dt = DecisionTreeClassifier(max_depth = depth)
  # Fit dt to the training set
  dt.fit(X_train, y_train) # the model is trained
  trainAccuracy = accuracy_score(y_train, dt.predict(X_train)) # this is useless information - i am showing to prove a point
  dt = DecisionTreeClassifier(max_depth=depth) # a fresh model which is not trained yet
  valAccuracy = cross_val_score(dt, X_train, y_train, cv=10) # syntax : cross_val_Score(freshModel,fts, target, cv= 10/5)
  print("Depth  : ", depth, " Training Accuracy : ", trainAccuracy, " Cross val score : " ,np.mean(valAccuracy))

Depth  :  1  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  2  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  3  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  4  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  5  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  6  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  7  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  8  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  9  Training Accuracy :  1.0  Cross val score :  1.0
Depth  :  10  Training Accuracy :  1.0  Cross val score :  1.0

From the above results, it is clear that the probelm is within dataset, i.e., it maybe flawed.